<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jycz.common.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.jycz.common.model.entity.Book">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="commit_date" jdbcType="TIMESTAMP" property="commitDate" />
    <result column="commit_user" jdbcType="INTEGER" property="commitUser" />
    <result column="rank" jdbcType="DOUBLE" property="rank"/>
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, author, introduction, cover_url,  commit_date, commit_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectBooksForHome" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from book
      <choose>
        <when test="type == 'time'">
        order by commit_date desc
        </when>
        <when test="type == 'rank'">
        order by rank desc
        </when>
        <when test="type == 'random'">
          order by rand()
        </when>
      </choose>


    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jycz.common.model.entity.Book">
    insert into book (id, name, author, 
      introduction, commit_date, commit_user
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{commitDate,jdbcType=TIMESTAMP}, #{commitUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jycz.common.model.entity.Book" keyProperty="id" useGeneratedKeys="true">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="commitDate != null">
        commit_date,
      </if>
      <if test="commitUser != null">
        commit_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="commitDate != null">
        #{commitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commitUser != null">
        #{commitUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jycz.common.model.entity.Book">
    update book
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="commitDate != null">
        commit_date = #{commitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commitUser != null">
        commit_user = #{commitUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jycz.common.model.entity.Book">
    update book
    set name = #{name,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      commit_date = #{commitDate,jdbcType=TIMESTAMP},
      commit_user = #{commitUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>