<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jycz.common.dao.UserRecommendMapper">
  <resultMap id="BaseResultMap" type="com.jycz.common.model.entity.UserRecommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stars" jdbcType="INTEGER" property="stars" />
    <result column="recommend_date" jdbcType="TIMESTAMP" property="recommendDate" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jycz.common.model.entity.UserRecommend">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, stars, recommend_date, bid, uid
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jycz.common.model.entity.UserRecommend">
    insert into user_recommend (id, title, stars, 
      recommend_date, bid, uid, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{stars,jdbcType=INTEGER}, 
      #{recommendDate,jdbcType=TIMESTAMP}, #{bid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jycz.common.model.entity.UserRecommend">
    insert into user_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stars != null">
        stars,
      </if>
      <if test="recommendDate != null">
        recommend_date,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stars != null">
        #{stars,jdbcType=INTEGER},
      </if>
      <if test="recommendDate != null">
        #{recommendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jycz.common.model.entity.UserRecommend">
    update user_recommend
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stars != null">
        stars = #{stars,jdbcType=INTEGER},
      </if>
      <if test="recommendDate != null">
        recommend_date = #{recommendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jycz.common.model.entity.UserRecommend">
    update user_recommend
    set title = #{title,jdbcType=VARCHAR},
      stars = #{stars,jdbcType=INTEGER},
      recommend_date = #{recommendDate,jdbcType=TIMESTAMP},
      bid = #{bid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jycz.common.model.entity.UserRecommend">
    update user_recommend
    set title = #{title,jdbcType=VARCHAR},
      stars = #{stars,jdbcType=INTEGER},
      recommend_date = #{recommendDate,jdbcType=TIMESTAMP},
      bid = #{bid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>