<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jycz.common.dao.UserRelationMapper">
  <resultMap id="BaseResultMap" type="com.jycz.common.model.entity.UserRelation">
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="ugid" jdbcType="INTEGER" property="ugid" />
  </resultMap>
  <insert id="insert" parameterType="com.jycz.common.model.entity.UserRelation">
    insert into user_relation (source_id, target_id, status,
      ugid)
    values (#{sourceId,jdbcType=INTEGER}, #{targetId,jdbcType=INTEGER}, #{status,jdbcType=BIT},
      #{ugid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jycz.common.model.entity.UserRelation">
    insert into user_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ugid != null">
        ugid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="ugid != null">
        #{ugid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <select id="selectStatusByUidAndIdolId" resultType="java.lang.Integer">
      select status from user_relation where source_id=#{uid} And target_id=#{idolId}
    </select>
</mapper>