<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jycz.common.dao.UserCommentMapper">
  <resultMap id="BaseResultMap" type="com.jycz.common.model.entity.UserComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="comment_date" jdbcType="TIMESTAMP" property="commentDate" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jycz.common.model.entity.UserComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, comment_date, uid, rid
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByUid" resultMap="BaseResultMap">
      select  uid,rid,comment_date from user_comment where uid=#{uid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jycz.common.model.entity.UserComment">
    insert into user_comment (id, parent_id, comment_date, 
      uid, rid, content
      )
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{commentDate,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jycz.common.model.entity.UserComment">
    insert into user_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="commentDate != null">
        comment_date,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="commentDate != null">
        #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jycz.common.model.entity.UserComment">
    update user_comment
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="commentDate != null">
        comment_date = #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jycz.common.model.entity.UserComment">
    update user_comment
    set parent_id = #{parentId,jdbcType=INTEGER},
      comment_date = #{commentDate,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jycz.common.model.entity.UserComment">
    update user_comment
    set parent_id = #{parentId,jdbcType=INTEGER},
      comment_date = #{commentDate,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>